@font-face {
    font-family: 'Kids Donuts';
    src: url('KidsDonutsRegular.woff2') format('woff2'),
        url('KidsDonutsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

